<ul class="pagination">
  <li {% if include.selected=="1"%}class="active"{% endif %}><a href="/language/java/build-images/">构建镜像</a></li>
  <li {% if include.selected=="2"%}class="active"{% endif %}><a href="/language/java/run-containers/">将镜像作为容器运行</a></li>
  <li {% if include.selected=="3"%}class="active"{% endif %}><a href="/language/java/develop/">使用容器进行开发</a></li>
  <li {% if include.selected=="4"%}class="active"{% endif %}><a href="/language/java/run-tests/">运行测试</a></li>
  <li {% if include.selected=="5"%}class="active"{% endif %}><a href="/language/java/configure-ci-cd/">配置 CI/CD</a></li>
  <li {% if include.selected=="6"%}class="active"{% endif %}><a href="/language/java/deploy/">部署应用</a></li>
</ul>
